{% extends 'base.html' %} 

{% block content %}

{% load humanize %}
{% load custom_filters %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des dépenses effectuées</h6>

                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                            {% if not seuil %}
                            <a href="{% url 'ajouter_depense' %}" class="btn btn-success">Enregistrer une nouvelle dépense</a>
                            {% endif %}
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Categorie</th>
                                            <th>montant (FCFA)</th>
                                            <th>date de dépense</th>
                                            <th>description</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for depense in depenses %}
                                            <tr>
                                                <td>{{ depense.categorie }}</td>
                                                <td class="montant">{{ depense.montant|space_separated }}</td>
                                                <td>{{ depense.date_depense }}</td>
                                                <td>{{ depense.description}}</td>

                                                <td>
                                                        <!-- Bouton de détails -->
                                    <!-- Afficher le bouton uniquement si la dépense a des fichiers associés -->
                                                    {% if depense.fichiers.count > 0 %}  <!-- Vérifie si des fichiers sont associés -->
                                    <!-- Bouton pour ouvrir la modale -->
                                                        <button type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#fichiersModal{{ depense.id }}">
                                                            <i class="fas fa-file-alt"></i>
                                                        </button>
                                                    {% endif %}
                                                       
                                                    <form action="{% url 'modifier_depense' %}" method="get" style="display:inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ depense.id }}">
                                                        <button class="btn btn-primary btn-circle"><i class="fas fa-wrench"></i></button>
                                                    </form>
                                                    <form action="{% url 'supprimer_depense' %}" method="POST" style="display:inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ depense.id }}">
                                                        <button type="submit" class="btn btn-danger btn-circle" onclick="return confirm('Voulez-vous vraiment supprimer cette Dépense ?');"><i class="fas fa-trash"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                             <!-- Modale pour afficher les fichiers -->
        <div class="modal fade" id="fichiersModal{{ depense.id }}" tabindex="-1" role="dialog" aria-labelledby="fichiersModalLabel{{ depense.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="fichiersModalLabel{{ depense.id }}">Fichiers de la Dépense</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for fichier in depense.fichiers.all %}
                            {% if fichier.fichier %}
                                <div>
                                    <!-- Vérifiez si le fichier est un PDF -->
                                    {% if fichier.fichier.url|is_pdf %}
                                        <a href="{{ fichier.fichier.url }}" target="_blank">
                                            <i class="fas fa-file-pdf"></i> {{ fichier.fichier.name }}
                                        </a>
                                    {% else %}
                                        <a href="{{ fichier.fichier.url }}" target="_blank">
                                            <i class="fas fa-image"></i> {{ fichier.fichier.name }}
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% empty %}
                            <p>Aucun fichier trouvé pour cette dépense.</p>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="1" style="text-align: right;">Total :</td>
                                            <td><span id="total_montant">0</span></td>
                                           
                                        </tr>
                                    </tfoot>
                                </table>
                                

                                <!-- Modal pour afficher les détails -->
                                <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document"> <!-- Ajout de la classe modal-lg -->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="popupLabel">Détails du Bon de Commande</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="popupContent">
                                                <!-- Le contenu du bon de commande sera affiché ici -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                <button type="button" class="btn btn-primary" id="printButton">Imprimer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                


                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            {% endblock content %}