{% extends 'base.html' %} 

{% block content %}

{% load humanize %}
{% load custom_filters %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des espèces de poissons</h6>

                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <a href="{% url 'Ajoutespece' %}" class="btn btn-success">Ajouter une nouvelle espèce</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Description</th>
                                            <th>Actions</th> <!-- Colonne pour les actions -->
                                        </tr>
                                    </thead>
                                  

                                    <tbody>
                                        {% for especepoisson in especepoissons %}
                                            <tr>
                                                
                                                 <td>{{ especepoisson.nom }}</td>
                                                <td>{{ especepoisson.description }}</td>
                                            <td>
                                                <!-- Bouton de modification -->
                                                 <form action="{% url 'modifier_espece' %}" method="get" style="display:inline;">
                                                   {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ especepoisson.id }}">
                                                     <button class="btn btn-primary btn-circle"><i class="fas fa-wrench"></i></button>
                                                 </form>
                                                
                                               
                                                <!-- Bouton de suppression -->
                                                <form action="{% url 'supprimer_espece'%}" method="POST" style="display:inline;">
                                                    {% csrf_token %}
                                                      <input type="hidden" name="id" value="{{ especepoisson.id }}">
                                                    <button type="submit" class="btn btn-danger btn-circle" onclick="return confirm('Voulez-vous vraiment supprimer cette vente ?');"><i class="fas fa-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
 {% endblock content %}